<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-white" style="margin-left: 10px" href="/">Il Mio Sito</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav" style="margin-right: 10px;">
        <li class="nav-item">
          <button (click)="loginButton()" id="login-btn" type="button" class="btn btn-outline-light mr-3 text-white">Accedi</button>&nbsp;
        </li>
        <li class="nav-item">
          <button (click)="registerButton()" id="register-btn" type="button" class="btn btn-light text-dark">Registrati</button>
        </li>
      </ul>
    </div>
  </nav>
  